div {
  width: 400px;
  display: flex;
  align-items: center;
  margin: 20px auto;
}

label{
  width: 80px;
}

input{
  flex: 1;
  border: solid 1px lightgray;
  padding: 4px;
}

button {
  width: 100%;
  text-align: center;
  padding: 8px;
  background: lightblue;
  border: solid 1px skyblue;
}